email=David.Yair@elbitsystems.com
always-auth=true
registry=http://artifactory.esl.corp.elbit.co.il/artifactory/api/npm/npm/
//artifactory.esl.corp.elbit.co.il/artifactory/api/npm/npm/:_auth="ZTAzMDMzMTpBUDRNVlpMZkpISGFqN3daalFGTEx6Vms4Rlk="
